<a href="https://colab.research.google.com/github/hdb4427/python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
input('당신의 이름을 입력하시오: ')

당신의 이름을 입력하시오: 허대범

'허대범'

In [6]:
a= input('당신의 이름을 입력하시오>>> ')
a

당신의 이름을 입력하시오>>> 치킨

'치킨'

In [11]:
b= input('당신의 나이>>> ')
b

당신의 나이>>> 19

'19'

In [8]:
type(b)

str

In [12]:
c=int(b)
c, type(c)

(19, int)

In [16]:
year = int(input('출생년도를 입력>>> '))
print('당신은',year, '년에 태어났습니다.')
asd = 2020-year+1
print('당신의 나이는 ', asd, '세 입니다.')

출생년도를 입력>>> 2002
당신은 2002 년에 태어났습니다.
당신의 나이는  19 세 입니다.

**Format**

In [20]:
s='a is {}'
s.format('apple')

'a is apple'

In [23]:
a='%s %d 개 가격은 %.2f 달라'
b=a %('햄버거',2, 4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거 2 개 가격은 8.00 달라

In [24]:
#치킨 2마리 가격 : 40000원
a='치킨 2마리 가격 : 40000원'
b=a %('치킨',2, 4.0*2)
print(a)
print(b)

TypeError: ignored